@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#5A5858;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#wrapper {
    box-shadow: 3px 3px 4px #333;
	border: 1px solid #CCCCCC;
    border-radius: 0px 0px 10px 10px;
	background-color:#EDF2E9;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}
#wrapper_header {
	background-image:url(images/header_bg.png);
	background-repeat:repeat-x;
	height:34px;
	
    box-shadow: 3px 3px 4px #333;

	border: 1px solid #036CAA;
    border-radius: 10px 10px 0px 0px;

	background-color:#036CAA;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	color:#FFF;
}
#top_menu{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	color:#FFF;
	height:70px;
}
#top_menu h1{
	font-weight:300;
	text-shadow: 1px 1px 0 #333;
	padding-top:25px;
	font-size:24px;
}
.hint{
	color:#999999;
}
h1{
	text-shadow: 1px 1px 0 #FFFFFF;
	font-size: 28px;
    font-weight: normal;
}
.button a{
	color:#333;
	text-decoration:none;
	
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #E3E4E7 94%, #C6CCD3 100%) repeat scroll 0 0 transparent;
	background-image:url(images/button_bg.png);
	background-repeat:repeat-x;
    
	border: 1px solid #979986;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #FFFFFF;
    
	cursor: pointer;
    display: inline-block;
    padding: 5px 12px;
    text-shadow: 1px 1px 0 #FFFFFF;
	margin-right:10px;
}
.button a:hover{
	color:#039;
}
.textbox{
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 25px;
    padding: 3px;
	box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.1) inset;
}
.searchBox{
	float:right;
	background-color: #EDF2E9;
	background-image:url(images/icon_search.gif);
	background-repeat:no-repeat;
	background-position:4px 4px;
	padding-left:19px;
    height: 18px;
	border: 0px solid #EDF2E9;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.1) inset;
	color:#666;
	text-shadow: 1px 1px 0 #ccc;
	margin-right:10px;
	margin-top:4px;
}

table{
	background-color:#FFF;
	border: 1px solid #CCC;
    border-radius: 5px 5px 5px 5px;
}
tr:hover{
	background-color:#EBF8FC;
}
td{

    padding-top:8px;
	padding-bottom:8px;
	border-bottom: 1px solid #CCC;
    padding-left: 1em;

}


.table_simple{
	background-color:transparent;
	border: 0px solid #CCC;
    border-radius: 0px 0px 0px 0px;
}
.table_simple tr:hover{
	background-color:transparent;
}
.table_simple td{
	padding-top:8px;
	padding-bottom:8px;
	border-bottom: 0px solid #CCC;
}

select {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #DFE1E5);
    padding-right: 2px;
	background-image:url(images/button_bg.png);
	background-repeat:repeat-x;
	
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #979987;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 25px;
    padding: 3px;

}
#footer{
	color:#FFF;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	margin-top:20px;
}
