@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#EDF2E9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#wrapper_header {
	background-image:url(images/header_bg.png);
	background-repeat:repeat-x;
	height:34px;
    box-shadow: 3px 3px 4px #333;
	border: 1px solid #036CAA;
	background-color:#036CAA;
	color:#FFF;
	top:0;
	width:100%;
	position:fixed;
}
h1{
	text-shadow: 1px 1px 0 #FFFFFF;
	font-size: 28px;
    font-weight: normal;
}
h2{
	font-weight:300;
}
.msg_success{
	-moz-box-sizing: border-box;
    background-color:#CCFF33;
    border: 1px solid #99CC00;
    border-radius: 3px 3px 3px 3px;
    color:#666666;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 50px;
    padding: 3px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding-top:16px;
	padding-left:60px;
	font-weight:300;
	font-size:16px;
	box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.1) inset;
	background-image:url(images/icon_green_tick.png);
	background-repeat:no-repeat;
}
.button a{
	color:#333;
	text-decoration:none;
	
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #E3E4E7 94%, #C6CCD3 100%) repeat scroll 0 0 transparent;
	background-image:url(images/button_bg.png);
	background-repeat:repeat-x;
    
	border: 1px solid #979986;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #FFFFFF;
    
	cursor: pointer;
    display: inline-block;
    padding: 5px 12px;
    text-shadow: 1px 1px 0 #FFFFFF;
	margin-right:10px;
}
.button a:hover{
	color:#039;
}
.submit_button{
	color:#333;
	text-decoration:none;
	
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #E3E4E7 94%, #C6CCD3 100%) repeat scroll 0 0 transparent;
	background-image:url(images/button_bg.png);
	background-repeat:repeat-x;
    
	border: 1px solid #979986;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #FFFFFF;
    
	cursor: pointer;
    display: inline-block;
    padding: 5px 12px;
    text-shadow: 1px 1px 0 #FFFFFF;
	margin-right:10px;
	height:28px;
	padding-right:30px;
	padding-left:30px;
	font-weight:bold;
}
.textbox{
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 25px;
    padding: 3px;
	box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.1) inset;
}

.textarea{
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 3px;
	box-shadow: 2px 2px 2px rgba(3, 3, 3, 0.1) inset;
}

select {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #DFE1E5);
    padding-right: 2px;
	background-image:url(images/button_bg.png);
	background-repeat:repeat-x;
	
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #979987;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 25px;
    padding: 3px;

}